@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital@1&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --accent: #1d71b8;
    --accent-additional: #27348b;
    --light: #edf0f1;
    --dark: #24252a;
    --error: #ff3c3c;
}

body {
    font-family: "Roboto", sans-serif;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    padding: 0;
    border: none;
}

ion-icon {
    font-size: 64px;
    color: var(--accent);
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 18px 10%;
    background-color: var(--dark);
}

.logo {
    margin-right: auto;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: var(--light);
    text-decoration: none;
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: var(--accent);
}

.cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: var(--accent);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta:hover {
    background-color: var(--accent-additional);
    color: var(--light);
}

.logout {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: var(--light);
    text-decoration: none;
}

.logout:hover {
    color: var(--dark);
}

/* Mobile Nav */

.menu {
    display: none;
}

.overlay {
    font-family: "Montserrat", sans-serif;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: var(--dark);
    overflow-x: hidden;
    transition: all 0.5s ease 0s;

    a {
        padding: 15px;
        font-size: 36px;
        display: block;
        transition: all 0.3s ease 0s;
        &:hover,
        &:focus {
            color: var(--accent);
        }
    }
    &--active {
        width: 100%;
    }

    &__content {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: var(--light);
    cursor: pointer;
}

.close:hover {
    color: var(--accent);
}

.error {
    color: var(--dark);
}

.clear-btn {
    background-color: transparent;
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
}

.errors {
    text-align: center;
    margin: 10px;
    padding: 8px;
    background: var(--error);
    border-radius: 5px;
    bottom: 30px;
    min-width: 400px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: default;
}

.ok {
    text-align: center;
    margin: 10px;
    padding: 8px;
    background: var(--accent);
    border-radius: 5px;
    bottom: 30px;
    min-width: 400px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: default;
}

.contacts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100px;
    width: 100%;
    background: var(--dark);

    &__info-block {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__info {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        gap: 15px;
    }

    &__info-text {
        display: flex;
        align-items: center;
        text-align: center;
        color: #ffffff;
    }

    &__icons {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    a {
        text-decoration: none;
        padding: 0;
        margin: 0;
        ion-icon:hover {
            color: var(--accent);
        }
    }

    ion-icon {
        padding: 10px;
        font-size: 2em;
        color: #ffffff;
    }
}

.rooms-wrapper {
    padding: 100px 0px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    max-width: 1600px;
}

.room {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 400px;
    border-radius: 30px;
    background-color: var(--dark);
    cursor: pointer;

    img {
        width: 500px;
        height: 300px;
        border-radius: 30px;
    }

    div {
        display: flex;
        justify-content: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        width: 500px;
        height: 100px;
        border-radius: 30px;
        font-size: 20px;
        background-color: var(--dark);
        color: var(--accent);
    }
    &--selected {
        background-color: var(--accent);
        div {
            background-color: var(--accent);
            color: var(--light);
        }
        span {
            color: var(--light);
        }
    }
}

.my-btn {
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    background-color: var(--accent);
    color: var(--light);
    transition: all 0.3s ease 0s;
}

.my-btn:hover {
background-color: var(--accent-additional);
color: var(--light);
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
        display: none;
        &--home {
            display: block;
        }
    }

    .menu {
        display: initial;
    }

    .contacts {
        flex-direction: column;
    }
}

@media screen and (max-width: 900px) {
    .rooms-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .room {
        width: 300px;
        height: 200px;
        border-radius: 20px;

        img {
            width: 300px;
            height: 130px;
            border-radius: 20px;
        }

        div {
            width: 300px;
            height: 70px;
            border-radius: 20px;
        }
    }
}

@media screen and (max-width: 1600px) {
    .rooms-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    .room {
        width: 400px;
        height: 300px;
        border-radius: 20px;

        img {
            width: 400px;
            height: 230px;
            border-radius: 20px;
        }

        div {
            width: 400px;
            height: 70px;
            border-radius: 20px;
        }
    }
}
