@charset "UTF-8";
/* ■■■■■ ШРИФТЫ ■■■■■■■■■■■■■■■■■■■■■■ */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ■■■■■ ПЕРЕМЕННЫЕ ■■■■■■■■■■■■■■■■■■ */
:root {
  --ff-body: "Rubik", sans-serif;
  --accent: #1d71b8;
  --accent-additional: #27348b;
  --light: #edf0f1;
  --dark: #24252a;
  --error: #ff3c3c;
}

/* ■■■■■ ОБНУЛЯЮЩИЕ СТИЛИ ■■■■■■■■■■■■ */
body {
  margin: 0;
}
body *, body *::before, body *::after {
  box-sizing: border-box;
}

header, nav, main, footer, section, aside,
img, picture, video, canvas, svg,
label, summary, source, iframe, embed {
  display: block;
}

img {
  max-width: 100%;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

p {
  margin: 0;
}

input, button, textarea, select {
  display: block;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  background-color: transparent;
}

input[type=radio] {
  margin: 0;
}

textarea {
  resize: vertical;
}

button, select, input[type=submit], input[type=file], input[type=file]::-webkit-file-upload-button {
  cursor: pointer;
}

/* ■■■■■ БАЗОВЫЕ СТИЛИ ■■■■■■■■■■■■■■■ */
html, body {
  height: 100%;
}

body {
  font-family: var(--ff-body, sans-serif) !important;
  display: flex;
  flex-direction: column;
}

/* ■■■■■ КОНТЕЙНЕРЫ ■■■■■■■■■■■■■■■■■■ */
[class*=container] {
  max-width: 1000px !important;
  padding: 0 1rem !important;
  margin: 0 auto !important;
}

.container--lg {
  max-width: 1200px !important;
}

.container--md {
  max-width: 800px !important;
}

.container--sm {
  max-width: 500px !important;
}

.container--xs {
  max-width: 320px !important;
}

/* ■■■■■ СТИЛИ САЙТА ■■■■■■■■■■■■■■■■■ */
main {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ion-icon {
  font-size: 64px;
  color: var(--accent);
}

.header {
  padding-block: 1rem;
  background-color: var(--dark);
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a.logo > img {
  width: 60px;
  aspect-ratio: 1;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
  font-weight: 500;
  color: var(--light);
}

.nav__links li a {
  display: block;
  padding-block: 0.5em;
  transition: color 0.3s;
}
.nav__links li a:hover {
  color: var(--accent);
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: var(--accent);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: var(--accent-additional);
  color: var(--light);
}

.logout {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--light);
  text-decoration: none;
}

.logout:hover {
  color: var(--dark);
}

/* Mobile Nav */
.menu {
  display: none;
}

.overlay {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: var(--dark);
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}
.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}
.overlay a:hover, .overlay a:focus {
  color: var(--accent);
}
.overlay--active {
  width: 100%;
}
.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: var(--light);
  cursor: pointer;
}

.close:hover {
  color: var(--accent);
}

.error {
  color: var(--dark);
}

.clear-btn {
  background-color: transparent;
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
}

.errors {
  text-align: center;
  margin: 10px;
  padding: 8px;
  background: var(--error);
  border-radius: 5px;
  bottom: 30px;
  min-width: 400px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: default;
}

.ok {
  text-align: center;
  margin: 10px;
  padding: 8px;
  background: var(--accent);
  border-radius: 5px;
  bottom: 30px;
  min-width: 400px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: default;
}

.contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100px;
  width: 100%;
  background: var(--dark);
}
.contacts__info-block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contacts__info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 15px;
}
.contacts__info-text {
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.contacts__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contacts a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.contacts a ion-icon:hover {
  color: var(--accent);
}
.contacts ion-icon {
  padding: 10px;
  font-size: 2em;
  color: #ffffff;
}

.rooms-wrapper {
  padding: 100px 0px;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  max-width: 1600px;
}

.room {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 400px;
  border-radius: 30px;
  background-color: var(--dark);
  cursor: pointer;
}
.room img {
  width: 500px;
  height: 300px;
  border-radius: 30px;
}
.room div {
  display: flex;
  justify-content: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 500px;
  height: 100px;
  border-radius: 30px;
  font-size: 20px;
  background-color: var(--dark);
  color: var(--accent);
}
.room--selected {
  background-color: var(--accent);
}
.room--selected div {
  background-color: var(--accent);
  color: var(--light);
}
.room--selected span {
  color: var(--light);
}

.update-room {
  cursor: pointer;
}

.pop-up-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.pop-up-form {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: var(--light);
  border-radius: 30px;
}

.time-form {
  display: flex;
  gap: 5px;
}

.my-btn {
  margin-block: 2rem;
  padding: 0.5em 2em;
  font-size: 1.25rem;
  border-radius: 0.2em;
  background-color: var(--accent);
  color: var(--light);
  transition: 0.3s;
}
.my-btn:hover {
  background-color: var(--accent-additional);
  color: var(--light);
}

.my-table {
  margin: 50px;
  padding: 0;
  border: 2px solid black;
  border-collapse: collapse;
}
.my-table tr {
  margin: 0;
  padding: 0;
  text-align: center;
  border: 1px solid black;
}
.my-table tr td {
  margin: 0;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}
.my-table th {
  margin: 0;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}
.my-table img {
  width: 200px;
  height: 100px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
@media only screen and (max-width: 800px) {
  .nav__links,
.cta {
    display: none;
  }
  .nav__links--home,
.cta--home {
    display: block;
  }
  .menu {
    display: initial;
  }
  .contacts {
    flex-direction: column;
  }
}
@media screen and (max-width: 900px) {
  .rooms-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .room {
    width: 300px;
    height: 200px;
    border-radius: 20px;
  }
  .room img {
    width: 300px;
    height: 130px;
    border-radius: 20px;
  }
  .room div {
    width: 300px;
    height: 70px;
    border-radius: 20px;
  }
}
@media screen and (max-width: 1600px) {
  .rooms-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .room {
    width: 400px;
    height: 300px;
    border-radius: 20px;
  }
  .room img {
    width: 400px;
    height: 230px;
    border-radius: 20px;
  }
  .room div {
    width: 400px;
    height: 70px;
    border-radius: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
