/* ■■■■■ КОНТЕЙНЕРЫ ■■■■■■■■■■■■■■■■■■ */
.container {
    max-width: 1000px !important;
    padding: 0 1rem !important;
    margin: 0 auto !important;
}
.container--lg {
    max-width: 1200px !important;
}
.container--md {
    max-width: 800px !important;
}
.container--sm {
    max-width: 500px !important;
}
.container--xs {
    max-width: 320px !important;
}