/* ■■■■■ ПЕРЕМЕННЫЕ ■■■■■■■■■■■■■■■■■■ */
:root {
    --ff-body: "Rubik", sans-serif;

    --accent: #1d71b8;
    --accent-additional: #27348b;
    --light: #edf0f1;
    --dark: #24252a;
    --error: #ff3c3c;
}